/* Font page */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}
#initial{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("img/closing.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

#initial .content header{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#initial .content header .content-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#initial .content header .content-header h1{
    text-align: center;
    color: #ff5080;
}

#initial .content header .content-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#initial .content header .content-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#initial .content header .content-header nav ul a:hover{
    color:#ff5080;
}

#initial .content header .content-header .networks a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#initial .content header .content-header .networks a:hover{
    color: #ff5080;
}

#initial .content .display{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initial .content .display .welcome{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#initial .content .display h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#initial .content .display h2 span{
    font-size: 25px;
    color: #ff5080;
}

#initial .content .display .description{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#initial .content .display a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#initial .content .display a:hover{
    background-color: #ff5080;
}

#nav-icons{
    color:#fff;
    display: none;
}

/* A B O U T M E Section */

#aboutme{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#aboutme .container-pic{

    max-width: 400px;
    margin-right: 80px; 
}

#aboutme .container-pic img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#aboutme .aboutme {
    margin: 0 40px;    
}

#aboutme .aboutme .title-section {
    font-size: 22px;
    text-transform: uppercase;
    color:#111135;
    text-decoration: underline;
    text-decoration-color: #f3f3f3;
    text-decoration-thickness: 5px;
}

#aboutme .aboutme h2{
    font-size: 34x;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#aboutme .aboutme h2 span {
    color:#ff5080;
}

#aboutme .aboutme h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#aboutme .aboutme p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#aboutme .aboutme a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;   
}

#aboutme .aboutme a:hover{
    background-color: #ff5080;
    color: #fff;
}
