/* Font page */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}
#initial{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("img/init\ port.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 


